/* /* .list {
    width: 100%;
    height: 100%;
    background: rgb(34, 34, 34);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    color: #dbcdb3;
} */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    min-height: 100vh;
    background-color: rgba(25,25,25,0.95);
    /* background-color: black; */
}
